/* ---------- IMPORT FONTS ---------- */

@font-face {
  font-family: "Sans Thin";
  src: url(../assets/fonts/FiraSans-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Sans Light";
  src: url(../assets/fonts/FiraSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Sans Regular";
  src: url(../assets/fonts/FiraSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Sans Medium";
  src: url(../assets/fonts/FiraSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Sans Bold";
  src: url(../assets/fonts/FiraSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Mono Regular";
  src: url(../assets/fonts/FiraMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Mono Medium";
  src: url(../assets/fonts/FiraMono-Medium.ttf) format("truetype");
}

/* ---------- BODY & CONTAINER ---------- */

body {
  background-color: #0D1017;
  font-family: "Sans Light", sans-serif;
  color: #f5f5f5;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ---------- TXT ---------- */

h1 {
  font-family: 'Mono Regular', monospace;
  font-size: 1.5em;
}

h2 {
  font-family: 'Mono Regular', monospace;
  font-size: 2.5em;
}

h3 {
  font-family: 'Mono Regular', monospace;
  font-size: 2em;
}

h4 {
  font-family: 'Mono Regular', monospace;
  font-size: 1.75em;
}

h5 {
  font-family: 'Mono Regular', monospace;
  font-size: 1.5em;
}

p {
  margin: 0.7em 0;
  font-size: 1.2em;
  line-height: 1.3em;
}

a {
  font-family: "Sans Regular", sans-serif;
  color: #39BAE6;
  text-decoration: none;
}

a:hover {
  font-family: "Sans Medium", sans-serif;
  color: #fafafa;
  text-decoration: none;
}

/* ---------- HEADER ---------- */

header {
  z-index: 2;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #131721;
}

#header-brand-container {}

#header-navbar-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.header-navbar-icon {
  display: inline-block;
  height: 30px;
  width: auto;
  margin: 6px 0 0 25px;
}

.header-navbar-link {
  display: inline-block;
  position: relative;
  top: -6px;
  padding-left: 5px;
  font-size: 1.2em;
}

/* ---------- MAIN ---------- */

main {
  display: flex;
  flex-direction: column;
}

/* MAIN : intro subsection */

/* background: linear-gradient(180deg, #2D3142, #4f5364, #2D3142); */

#intro {
  height: 100vh;
  /* background: linear-gradient(180deg, #0D1017, #25272e, #0D1017); */
}

#intro-location-icon {
  display: inline-block;
  height: 16px;
  width: auto;
  margin-right: 7px;
}

#intro-location-span {
  font-family: 'Mono Regular', monospace;
  font-size: 1.4em;
}

#social {
  height: 100vh;
  /* background: linear-gradient(180deg, #0D1017, #39BAE6, #AAD94C); */
}

#projects {
  height: 100vh;
  /* background: linear-gradient(180deg, #0D1017, #AAD94C, #FFB454); */
}

/* ---------- FOOTER ---------- */

footer {
  width: 100%;
  height: 40px;
  padding-top: 20px;
  text-align: center;
  background-color: violet;
}