/* ---------- IMPORT FONTS ---------- */

@font-face {
  font-family: "Sans Thin";
  src: url(../assets/fonts/FiraSans-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Sans Light";
  src: url(../assets/fonts/FiraSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Sans Regular";
  src: url(../assets/fonts/FiraSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Sans Medium";
  src: url(../assets/fonts/FiraSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Sans Bold";
  src: url(../assets/fonts/FiraSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Mono Regular";
  src: url(../assets/fonts/FiraMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Mono Medium";
  src: url(../assets/fonts/FiraMono-Medium.ttf) format("truetype");
}

/* ---------- BODY & CONTAINER ---------- */

body {
  background-color: #0D1017;
  font-family: "Sans Light", sans-serif;
  color: #f5f5f5;
}

#container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* ---------- TXT ---------- */

p {
  margin: 0.7em 0;
  font-size: 1.25rem;
}

a {
  font-family: "Sans Regular", sans-serif;
  color: #39BAE6;
  text-decoration: none;
}

a:hover {
  font-family: "Sans Medium", sans-serif;
  /* text-decoration: none; */
}

/* ---------- HEADER ---------- */

header {
  width: 100%;
  height: 50px;
  padding: 0 4em;
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #151d31;
}

.header-navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Header brand */
h1 {
  font-family: 'Mono Medium', monospace;
  font-size: 1.5rem;
}

.header-navbar-item-div {
  height: 20px;
  margin-left: 2em;
}

.header-navbar-resume-icon {
  height: 20px;
  background: url(../assets/images/icon-resume.svg) center / contain no-repeat;
}

.header-navbar-resume-icon:hover {
  background: url(../assets/images/icon-resume-hover.svg) center / contain no-repeat;
}

.header-navbar-social-icon {
  height: 20px;
  background: url(../assets/images/icon-social.svg) center / contain no-repeat;
}

.header-navbar-social-icon:hover {
  background: url(../assets/images/icon-social-hover.svg) center / contain no-repeat;
}

.header-navbar-projects-icon {
  height: 20px;
  background: url(../assets/images/icon-projects.svg) center / contain no-repeat;
}

.header-navbar-projects-icon:hover {
  background: url(../assets/images/icon-projects-hover.svg) center / contain no-repeat;
}

/* ---------- MAIN ---------- */

main {
  padding: 0 4em;
  background-color: rgb(94, 19, 19);
}

/* MAIN : sections titles */
h5 {
  font-family: 'Mono Medium', monospace;
  font-size: 1.4rem;
  color: #FFB454;
}

/*  MAIN : about */

.about {
  height: 100vh;
  padding: 6em 0;
  background-color: rgb(19, 36, 94);
}

.about-labels {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  background-color: rgb(10, 80, 27);
}

.about-labels-portrait {
  margin-right: 2em;
}

.about-labels-portrait img {
  width: 100px;
  border: solid 2px #F5F5F5;
  border-radius: 50%;
}

.about-labels-titles {
  width: 100%;
  background-color: rgb(136, 119, 22);
}

/* MAIN : about : name */
h2 {
  font-family: 'Mono Medium', monospace;
  font-size: 1.8rem;
  color: #FFB454;
}

/* MAIN : about : position */
h3 {
  font-family: 'Mono Medium', monospace;
  font-size: 1.6rem;
  color: #F07178;
}

/* MAIN : about : specialization */
h4 {
  font-family: 'Mono Medium', monospace;
  font-size: 1.4rem;
  color: #AAD94C;
}

.about-resume {
  background-color: rgb(25, 43, 23);
}

#about-location {
  font-family: 'Mono Regular', monospace;
  font-size: 1.4rem;
  line-height: 2.7em;
}

#about-location-icon {
  display: inline-block;
  height: 16px;
  width: auto;
  margin-right: 7px;
}

/*  MAIN : social */

/*  MAIN : projects */

/* cards titles */
h6 {
  font-family: 'Mono Medium', monospace;
  font-size: 1.25rem;
}

/* ---------- FOOTER ---------- */

footer {
  width: 100%;
  height: 50px;
  padding: 15px 0 10px 0;
  text-align: center;
}

.footer-image {
  display: inline-block;
}

/* ---------- Back-to-top button ---------- */

.backtotop-container {
  z-index: 3;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
}

.backtotop-container button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.backtotop-image {
  width: 35px;
  background: url(../assets/images/icon-backtotop.svg) center / contain no-repeat;
}

.backtotop-image:hover {
  background: url(../assets/images/icon-backtotop-hover.svg) center / contain no-repeat;
}