body {
  background-color: #2D3142;
}

#container {
  width: 100%;
  height: 100%;
}

header {
  height: 50px;
  background-color: green;
}

main {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: red;
}

footer {
  height: 50px;
  background-color: blue;
}

#intro {
  background-color: rgb(51, 255, 0);
}